* {
    margin: 0;
    padding: 0;
}

.pointer {
    cursor: pointer;
}


:root {
    --background-light: #ffffff;
    --background-dark: #121212;
    --text-on-light: #333333;
    --text-on-dark: #f0f0f0;
    --primary-light: hsl(var(--primary-color, 200), 50%, 50%);
    --primary-dark: hsl(var(--primary-color, 200), 50%, 50%);
    --text-on-primary: #efefef;

    --border-radius: 8px;
  }
  
  /* Standard-Styles für den Light Mode */
  body {
    --background: var(--background-light);
    --text: var(--text-on-light);
    --primary: var(--primary-light);

  }

  body.theme-dark {
    --background: var(--background-dark);
    --text: var(--text-on-dark);
    --primary: var(--primary-dark);
  }
  
  /* Styles für den Dark Mode */
  @media (prefers-color-scheme: dark) {
  
    body {
        --background: var(--background-dark);
        --text: var(--text-on-dark);
        --primary: var(--primary-dark)
    }
  
  }


  body {
  background-color: var(--background);
  color: var(--text);
  }

a {
    color: var(--primary);
}

input, button {
  background-color:hsl(var(--primary-color) 50% 50%);
  padding:1em;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  color:rgb(255, 255, 255);
}
